@media(max-width:992px)
{
    .header
    {
        height: auto;
        overflow: hidden;
    }
    .nav-row
    {
        justify-content: space-between;
    }
    .links
    {
        display: none;
    }
    .bars
    {
        display: inline-block;
    }
    .titl-font
    {
        font-size: 40px;
    }
    .info-para
    {
        width: 450px;
        font-size: 18px;
    }
    .btn
    {
        width: 150px;
        font-size: 15px;
    }
    .menu-font
    {
        font-size: 30px;
    }
    .menu-para
    {
        width: auto;
        font-size: 12px;
    }
    .circle-row
    {
        gap: 110px;
        justify-content: center;
    }
}